<div class="row">
    <div class="col-md-4" ng-controller="TreeController">
        <h3>Tree</h3>
        <table>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <span ng-click="addNode('')" class="btn btn-xs btn-success">add</span>
                </td>
            </tr>
            <tr ng-repeat="node in tree">
                <td style="width:250px;">
                    <a ng-href="#{{node.replaceslashes('---')}}" ng-click="nodeClick()">{{node}}</a>
                </td>
                <td>
                    <span ng-click="showHideChildren(node)" ng-bind="tree_children_button[node]" ng-show="tree_children_button[node]" class="btn btn-xs btn-warning"></span>
                </td>
                <td>
                    <span ng-click="addNode(node)" class="btn btn-xs btn-success">add</span></li>
                </td>
                <td>
                    <span ng-click="removeNode(node)" class="btn btn-xs btn-danger">rm</span>
                </td>
            <tr>
        </table>
    </div>
    <div class="col-md-8" ng-controller="NodeController">
        <h3>Node</h3>
        <div class="alert alert-success" ng-show="flashSuccess">{{flashSuccess}}</div>
        <div class="alert alert-info" ng-show="flashInfo">{{flashInfo}}</div>
        <div class="alert alert-danger" ng-show="flashError">{{flashError}}</div>
        <form>
            <div class="form-group">
                <pre ng-show="node.dataEdit == null" class="pre-scrollable">{{node.data}}</pre>
                <textarea ng-show="node.dataEdit != null" class="form-control" rows="15">{{node.dataEdit}}</textarea>
            </div>
            <button ng-click="edit()" ng-show="node.dataEdit == null" class="btn btn-default">Edit</button>
            <button ng-click="save()" ng-show="node.dataEdit != null" class="btn btn-default">Save</button>
        </form>
    </div>
</div>
