<div class="row">
    <div class="col-md-4" ng-controller="TreeController">
        <h3>Tree</h3>
        <ul>
            <li ng-repeat="node in tree"><a ng-href="#{{node.replaceslashes('---')}}">{{node}}</a> <span ng-click="showHideChildren(node)" ng-bind="tree_children_button[node]"></span></li>
        </ul>
    </div>
    <div class="col-md-8" ng-controller="NodeController">
        <h3>Node</h3>
        <div class="alert alert-success" ng-show="flashSuccess">{{flashSuccess}}</div>
        <div class="alert alert-info" ng-show="flashInfo">{{flashInfo}}</div>
        <div class="alert alert-danger" ng-show="flashError">{{flashError}}</div>
        <pre ng-show="node.dataEdit == null">{{node.data}}</pre>
        <p ng-show="node.dataEdit != null">
            <textarea>{{node.dataEdit}}</textarea>
        </p>
        <button ng-click="edit()">Edit</button>
        <button ng-click="save()" ng-show="node.dataEdit != null">Save</button>
    </div>
</div>
